<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../Assets/CSS/cycStyles.css">
        <link rel="stylesheet" href="../Assets/CSS/general.css">
        <link rel="stylesheet" href="../Assets/CSS/fidestore.css">
        <link rel="stylesheet" href="../Assets/CSS/msgAdvice.css">
        <link rel="icon" href="../Assets/IMG/favicon.png">
        <!-- Extended -->
        <link rel="stylesheet" href="../Assets/CSS/productos.css">
        <link rel="stylesheet" href="../Assets/CSS/carrito.css">
        <!-- OWN CSS -->
        <link rel="stylesheet" href="../Assets/CSS/micuenta.css">
        <title>FideStore</title>
    </head>

    <body class="body" id="body">
        <nav class="nav text-white">
            <a href="./productos.html" class="nav-title">FideStore</a>
            <ul class="nav-list" id="nav-list" style="display: none;">
                <!-- 
                Apartados
                -->
            </ul>
            <!-- style="background: url(../../Assets/IMG/cart_with_items.png) no-repeat;
                    background-size: 100%;
                    background-position: center;"  -->
            <div class="btn-action" id="btn-action">
            </div>
        </nav>

        <!-- CONTENT -->
        <div class="box-header-products">
            <div class="form-group box-center-h">
                <h3 class="d-block text-white w-100 h-100">Mi Cuenta</h3>
            </div>
        </div>

        <div class="box-center-h box-productos text-accent w-100 pb-5">
            <hr class="mt-1 mb separator-products">
            <div class="working-box">
                <div class="category-box">
                    <div class="mt-1 border-r-solid d-block">
                        <ul class="d-block category-nav" id="categories-list">
                            <li class="category-item pl-2 pt-1 pb-1" id="uno">Administrar Pagos</li>
                            <li class="category-item pl-2 pt-1 pb-1" id="dos">Historial de Cuenta</li>
                            <li class="category-item pl-2 pt-1 pb-1" id="tres">Cerrar sesion</li>
                        </ul>
                    </div>
                </div>
                <!-- PRODUCTS AREA -->
                <div class="products-area">
                    <div id="tarj">
                        <div class="principal">
                            <h3>Añadir Forma de Pago</h3>
                            <br>
                            <div class="izquierdo">
                                <form id="registerForm">
                                    <div class="form-group">
                                        <label for="ced" class="text-accent">Número de Tarjeta
                                            <p class="text-danger d-inline">*</p>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="tarjeta" class="form-content d-block w-100"
                                            placeholder="Ingresa tu Tarjeta" maxlength="16">
                                    </div>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="tipo" id="tipo" value="Débito">Débito</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="tipo" id="tipo" value="Crédito">Crédito</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" id="btnGuardarTarjeta" value="Guardar"
                                            class="btn btn-primary d-block w-100 mb-0">
                                    </div>
                                </form>
                            </div>

                            <div class="derecho" id="tablaTarjeta">
                                <table class="table table-dark w-65 table-micuenta" id="tarjetas">
                                    <thead>
                                        <th>Num Tarjeta</th>
                                        <th>Tipo</th>
                                        <th>Accion</th>
                                    </thead>
                                    <tbody id="tarjetaBody">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div id="historial" class="p-1">
                        <table class="table table-dark w-100 table-micuenta" id="historial">
                            <thead>
                                <tr>
                                    <th>NoFactura</th>
                                    <th>Fecha</th>
                                    <th>subTotal</th>
                                    <th>Total</th>
                                    <th>...</th>
                                </tr>
                            </thead>
                            <tbody id="historialBody">

                            </tbody>

                        </table>
                    </div>
                    <div id="clave"></div>

                </div>
                <!-- END PRODUCTS AREA -->
            </div>
        </div>
        <div class="d-block"></div>

        <!-- FOOTER -->
        <footer class="footer text-white p-4">
            <div class="text-center mt-1">
                <p>FideStore@cycwebservice.cf</p>
            </div>
        </footer>

        <!-- View-more-history -->
        <div class="dialog-error-back d-none" id="dialog-resumen-history">
            <div class="dialog-micuenta-content box-center-fixed">
                <div class="p-1">
                    <h5>Factura: 012345678901</h5>
                    <h5>Fecha: 2019/05/05</h5>
                </div>
                <div class="p-1">
                    <h3>Forma de pago</h3>
                    <hr>
                    <table class="w-100" style="border-spacing: 0px;">
                        <tbody id="cart-cards-body-table">
                            <!-- EXAMPLE CARD -->
                            <tr class="cart-pay-method-row">
                                <td class="pr-1 max-width-px-45">
                                </td>
                                <td>
                                    <img src="/Assets/IMG/card.png" alt="Tarjeta" width="136px" height="136px">
                                </td>
                                <td class="p-1">
                                    XXXX-1234
                                </td>
                            </tr>
                            <!---->
                        </tbody>
                    </table>
                </div>
                <div class="p-1">
                    <h3>Resumen</h3>
                    <hr>
                    <div class="mb cart-resumen" id="resumen-history">
                        <!-- cart item example -->
                        <div class="cart-item p-1 mb">
                            <div class="cart-item-img"
                                style="background: url(/Assets/IMG/ProductsIMG/temp_pc.png) no-repeat;background-size: contain;background-position: center center;">
                            </div>
                            <p class="cart-item-name">Computadora todo en 1, monitor y componentes (Precio unitario
                                550000) </p>
                            <div class="cart-item-price ">
                                1
                            </div>
                        </div>
                        <!--end example-->
                    </div>
                </div>
                <div class="p-1 mb">
                    <hr>
                    <div class="cart-purchase mt-1">
                        <div class="w-40 d-inline-block">
                            <p class="text-right">Sub total
                            </p>
                        </div>
                        <div class="w-58 d-inline-block">
                            <p class="text-right" id="subTotal">0
                            </p>
                        </div>
                        <div class="w-40 d-inline-block">
                            <p class="text-right">IVA
                            </p>
                        </div>
                        <div class="w-58 d-inline-block">
                            <p class="text-right" id="iva">0
                            </p>
                        </div>
                        <div class="w-40 d-inline-block">
                            <p class="text-right">Total
                            </p>
                        </div>
                        <div class="w-58 d-inline-block cart-total">
                            <p class="text-right"><strong id="total">0</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="view-more-close"></div>
            </div>
        </div>
        <!-- END-View-more-history -->

        <script src="../Assets/JS/general.js"></script>
        <script src="../Assets/JS/micuenta.js"></script>

    </body>
    <!--Cambio-->

</html>